@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
.PageTitle{
    display:None;
    color: #e5e5e5;
}

.ComapnyName {
	display:inline-block;
	color: #FF6633;
}
img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #242E3D;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #E5e5e5;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #FF6633;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.contactbtn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #E5e5e5;
    background-color: #FF6633;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contactbtn:hover {
    background-color: #FF9124;
}

.contactbtn p{
    color:#E5e5e5
}
.aboutus {
    position: relative;
}

.aboutus-container {
    position: relative;
}

.aboutus-overlay {
    position: relative;
    display: inline-block;
}

.aboutus-IMG {
    max-width: 100%;
    opacity: 0.7; /* Adjust opacity as needed */
}

.aboutus-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust background opacity as needed */
    z-index: 1; /* Place it behind the image */
}

.aboutus-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    color: #FF6633;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%; /* Adjust the width to control the left column width */
    z-index: 2;
}

.aboutus-text h4 {
    margin: 0;
    font-size: 3rem;
}

.aboutus-text a {
    color: #FF6633;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1rem;
    padding: 1rem;
}

.aboutus-text a:hover {
    text-decoration: underline;
    color:#FF9124
}

.ourvision{
    padding-top: 2rem;
    transform:translateX(15%);
}

.VisionContent {
    width: 40%;
    color: #E5e5e5;
    padding-bottom: 1rem;
}

.ourvision h1{
    color:#FF6633;
}

.ourvisioncontent{
    width: 30%;
    display: flex;
    color: #E5e5e5;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.OurvisonBTN{
    font-size: 1rem;
    color: #E5e5e5;
    background-color: #e93600;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 3px;
}

.OurExpertise {
    transform:translate(-25%,-35%);
    text-align: right;
}

.ExpertiseContent {
    width: 40%;
    transform: translateX(150%);
    color:#E5e5e5;
    padding-bottom: 1rem;

}

.OurExpertise h1{
    color:#FF6633;
}

.OurExpertiseContent{
    width: 23%;
    transform: translateX(350%);
    text-align: left;
    color:#E5e5e5;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.OurExpertiseBTN1{
    font-size: 1rem;
    color: #E5e5e5;
    background-color: #e93600;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(-105%);
    padding: 3px;
}

.OurExpertiseBTN2{
    font-size: 1rem;
    color: #E5e5e5;
    background-color: #e93600;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(-101%);
    padding: 3px;
} 
.OurExpertiseBTN3{
    font-size: 1rem;
    color: #E5e5e5;
    background-color: #e93600;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(-191%);
    padding: 3px;
}


.OurTeam {
    transform:translate(15%,-80%);
}

.OurTeam h1{
    color:#FF6633;
}

.OurTeamContent{
    width: 30%;
    padding-top: .5rem;
    padding-bottom: 1rem;
    color: #E5e5e5;
}

.OurTeamBTN{
    font-size: 1rem;
    color: #E5e5e5;
    background-color: #e93600;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 3px;
}
#Aboutus1IMG{
    max-width: 25%;
    max-height: 40%;
    transform:translate(130%,-100%);
    border-radius: 30px;
    opacity: 80%;
    z-index: 0;

}
#Aboutus2IMG{
    max-width: 25%;
    max-height: 40%;
    transform:translate(210%,-120%);
    border-radius: 30px;
    opacity: 80%;
    z-index: 0;
}
#Aboutus3IMG{
    max-width: 25%;
    max-height: 40%;
    transform:translate(130%,-120%);
    border-radius: 30px;
    opacity: 80%;
    z-index: 0;
}
.joinbtn {
        padding: 1rem;
        margin:0;
        font-size: 1rem;
        color: #E5e5e5;
        background-color: #FF6633;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 20%;
}

.joinbtn:hover {
    background-color: #FF9124;
}
.joinbtn P{
    color:#E5e5e5
}
.btn:hover {
    background-color: #FF9124;
}

.card-container {
    max-width: 1200px;
    margin: auto;
    display:grid;
    align-items: center;
    margin-top: -50%;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #FF6633;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: #E5e5e5;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #E5e5e5;
}

header .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

header .image {
    position: relative;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: #E5e5e5;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover {
    background-color: #323232;
    border-color: #E5e5e5;
}

.features .card span {
    display: inline-block;
    background-color: #FF9124;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #E5e5e5;
    border-radius: 5px;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: #E5e5e5;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p {
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a {
    color: #E5e5e5;
    transition: all 0.3s ease;
}

.features .card a:hover {
    color: #FF9124;
}
.banner {
    padding-top: 3rem;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 50vh; /* Adjust the height as needed */
}

.Banner-Img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust background opacity as needed */
    z-index: 1; /* Place it behind the image */
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center; /* Center align the text and button */
    z-index: 2;
}

.Banner-Text {
    transform: translate(-270%,-300%);
    color: #FF6633;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}

.banner-btn {
    transform: translate(-300%,-320%);
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #E5e5e5;
    background-color: #FF6633;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
}

.banner-btn:hover {
    background-color: #FF9124;
}

.footer {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column {
    text-align: center;
    display: inline-block;
    margin: 0 7em; /* Adjust the horizontal margin to your preference */
}

.column p {
    color: #ccc;
    margin-bottom: 1rem;
}

.column h4 {
    color: #E5e5e5;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.column > a {
    display: block;
    font-size: 1.3rem;
    margin: 1rem 0px;
    color: #e5e5e5;
}

.column > a:hover {
    color: #FF6633;
}


.socials-container {
    display: flex;
    flex-direction: column; /* Place the social icons in a vertical column */
    align-items: center;
    gap: 1rem;
    margin-top: 2rem; /* Add margin to separate the "About Us" section from social icons */
}

.socials {
    display: inline;
}

.socials a {
	margin: 5px;
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.socials a:hover {
    color: #E5e5e5;
    background-color: #FF6633;
    border-color: #FF6633;
    
}


.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    color: #E5e5e5;
    font-size: 0.8rem;
    text-align: center;
}

@media (max-width: 900px) {
    .nav-links {
        display: none;
    }
    header {
        grid-template-columns: repeat(1, 1fr);
    }
    header .image {
        grid-area: 1/1/2/2;
    }
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        grid-template-columns: 1fr 200px;
    }
}

@media (max-width: 600px) {
    header .image::before {
        display: none;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }
}
